@*@model IList<CMS.Domain.ViewModels.CustomerViewModel>

    @{
        ViewBag.Title = "Index";
    }

    <table>
        @foreach (var item in Model)
                {
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.ContactName</td>
                <td>@item.CompanyName</td>
            </tr>
        }
    </table>*@
@*<div ng-controller="CustCtrl">
    <h3><i class="fa fa-table"></i>客戶資料</h3>
    <div ng-show="IsLoad"><i class="fa fa-table"></i>讀取中...</div>
    <table class="table table-bordered">
        <tr>
            <td>CustomerID</td>
            <td>CompanyName</td>
            <td>ContactName</td>
        </tr>
        <tr ng-repeat="item in Customers">
            <td>{{item.CustomerID}}</td>
            <td>{{item.CompanyName}}</td>
            <td>{{item.ContactName}}</td>
        </tr>
    </table>
    <pre>目前頁數:{{ currentPage }} 總筆數:{{ totalRecords }}</pre>
    <uib-pagination boundary-links="true"
                    total-items="totalRecords"
                    ng-model="currentPage"
                    class="pagination-sm"
                    previous-text="上一頁"
                    next-text="下一頁"
                    first-text="第一頁"
                    last-text="最後一頁"
                    ng-change="pageChanged()">

    </uib-pagination>
    <div>
        {{ error }}
    </div>
</div>*@


@*<script>
        var MainApp = angular.module('MainApp', ['ui.bootstrap']);
        MainApp.controller('CustCtrl', function ($scope, $http) {

            $scope.IsLoad = true;

            //分頁所需參數
            $scope.totalRecords = 0;
            $scope.currentPage = 1;
            $scope.pageSize = 10;

            //點選換頁時觸發
            $scope.pageChanged = function () {
                $scope.IsLoad = true;
                GetData();
            };

            var GetData = function () {
                $http.get('/api/Customer', { params: { CurrPage: $scope.currentPage, PageSize: $scope.pageSize } })
                .success(function (data) {
                    $scope.Customers = data.Data;
                    $scope.totalRecords = data.Total;
                    $scope.IsLoad = false;
                })
                .error(function (data) {
                    $scope.error = "取得資料錯誤!";
                    $scope.IsLoad = true;
                });
            };

            //Page Load時去要資料
            GetData();

            //$http.get('/api/Customer').success(function (data) {
            //    $scope.Customers = data;
            //    $scope.IsLoad = false;
            //})
            //.error(function (data) {
            //    $scope.error = "取得資料錯誤";
            //});
        });
    </script>*@


<ul class="nav nav-pills">
    <li class="active"><a href="/Customer">查詢</a></li>
    <li class="active"><a href="/Customer/Add">新增客戶</a></li>
</ul>

@*ng-view內容做個切換*@
<div ng-view></div>